/* For screens smaller than or equal to 768px (Mobile View) */
@media screen and (max-width: 768px) {
    .thumbnail{
        position: relative;
    }
    .thumbnail img{
        width: 100%;
        height: 30vh;
    }
    .profile img{
        width: 100%;
        height: 7vh;
    }
    .title {
        font-size: 15px;
    }
    
    .authorView {
        font-size: 12px;
    }
    
}

/* For screens larger than 768px (Desktop View and up) */
@media screen and (min-width: 769px) {
    .thumbnail{
        position: relative;
    }
    .thumbnail img{
        width: 100%;
        height: 35vh;
    }
    .profile img{
        width: 65%;
        height: 8vh;
    }
}
